:root {
  --main-text-color: #555555;
  --dark-bg-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --dark-bg-color: #191c26;
  --second-bg-color: #f7f7f7;
  --title-font: "Raleway", sans-serif;
  --accent-text-color: #ffffff;
  --grid-item: 2;
  --form-color: rgba(157, 164, 189, 0.4);
  --annimation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px;
  overflow: hidden;
}

.section {
  /* outline: 1px solid tomato; */
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid blue; */
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.content-box {
  flex-basis: calc((100% - 30px) / 2);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--annimation);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.button {
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: transparent;
  cursor: pointer;
  transition: color var(--annimation), background-color var(--annimation);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}


.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

/* .contacts-nav a:not(:last-child) {
  margin-right: 40px;
} */
.socials-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
}

.socials-item:not(:last-child) {
  margin-right: 40px;
}

.social-icons {
  display: inline-flex;
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  color: var(--title-color);
  transition: fill var(--annimation);
}

.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--accent-color);
}

.line::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}
.copyrigth {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-bg-text-color);
}

.logo {
  display: block;
}

.title {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: 0.05;
  color: var(--title-color);
  margin-bottom: 20px;
}

.title-label {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
}

.page-title {
  font-size: 72px;
  line-height: 1.18;
}

.section-title {
  font-size: 42px;
  line-height: 1.167;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--accent-text-color);
}

.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .logo {
  margin-right: 70px;
}

.header .button {
  color: var(--accent-text-color);
  margin-left: 40px;
}

.hero {
  display: flex;
  align-items: center;
  /* min-height: 100vh; */
  padding-top: 0;
  padding-bottom: 0;
}

.hero .container {
  position: relative;
  padding-top: 272px;
  padding-bottom: 191.6px;
  background-image: url("../images/hero/slider-img-3.jpg");
  background-repeat: no-repeat;
  background-position: 115px 0;
}

.hero-content {
  width: 650px;
  padding-left: 200px;

}

.hero-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #fff;
}

.hero-sidebar .socials-list {
  transform: rotate(-90deg) translateX(50%);
}

.about p {
  margin-bottom: 20px;
}

.about p + p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;

}
.price {
  background-image: url("../images/price/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.price .section-title {
  margin-bottom: 44px;
}
.price-wrap {
  display: flex;
  margin-bottom: 50px;
}

.price-list {
  flex-basis: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list:first-child {
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-item-serv {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}
.price-item-serv::after {
  content: "";
  display: block;
  flex-grow: 1;
  /* width: 100%; */
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

/* .price .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.benefits-list {
  margin-top: -39px;
}

.benefits-item {
  flex-basis: calc((100% - 30px * 2) / 6 * 2);
  padding: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);

}

.benefits-item:nth-child(2n) {
  transform: translateY(35px);
}

.benefits-item p {
  margin-bottom: 0;
}

.benefits-number {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}

.benefits-number>sup {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  vertical-align: super;
}

.benefits-description {
  padding-right: 90px;
}
.team {
  background-color: var(--second-bg-color);
}

.team-item {
  --grid-item: 3;
  text-align: center;
}

.team-member {
  font-size: 18px;
  line-height: 1.39;
  color: var(--title-color);
}

.team-item p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  width: calc((100% - 30px) / 2);
  padding-bottom: 8px;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--accent-text-color);
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--form-color);
}

/* .form:focus-within {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
} */

/* .form-field:valid:not(:focus) {color: green;} */

/* .form-field:invalid:not(:focus) {color: red;} */

/* .form-field:required {} */

/* .form-field:placeholder-shown {} */

.form-field:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-text-color);
}

.form-field:focus::placeholder {
  color: var(--second-bg-color);
}

.form-field.form-field:-webkit-autofill,
.form-field.form-field:-webkit-autofill:hover,
.form-field.form-field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--accent-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
}

.form-field::placeholder {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--form-color);
}

.form-message {
  width: 100%;
  resize: none;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-list .link {
  display: flex;
  align-items: center;
}

.contacts-list .icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  stroke: var(--dark-bg-text-color);
  transition: stroke var(--annimation);
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list .link:hover .icon,
.contacts-list .link:focus .icon {
  stroke: var(--accent-color);
}

.gallery-item {
  --grid-item: 4;
}
  

.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.dark-bg .title,
.dark-bg .button {
  --title-color: var(--accent-text-color);
}

.dark-bg .title-label {
  --title-color: rgba(157, 164, 189, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 125, 125, 0.493);
  opacity: 1;
  transition: opacity var(--annimation);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 100%;
  max-width: 450px;
  min-height: 450px;
  padding: 40px;
  border-radius: 30px;
  /* background-color: var(--accent-text-color); */
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--annimation);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;

  max-width: 30px;
  height: 30px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
  
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}