.mobile-menu {
  width: 100%;
  min-width: 327px;
  height: 100vh;
  background-color: var(--accent-text-color);
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vh;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}
