.modal-form__field {
  width: 100%;
  margin-bottom: 0;
  padding-left: 23px;
}

.modal-form__field:focus + .icon {
  fill: var(--accent-text-color);
}

.modal-form__field-label {
  width: calc((100% - 30px) / 2);
  margin-bottom: 44px;
}

.modal-form__message {
  margin-bottom: 40px;
}