.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  
  @media screen and (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 56px;
    
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.copyrigth {
  height: 15px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--section--dark-bg-text-color);

  @media screen and (max-width: 767.98px) {
    padding-top: 35px;
    // padding-bottom: 44px;
  }
}