.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--accent-text-color);
  
  @media screen and (min-width: 768) {
    padding-top: 32px;
    
  }
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.header__button {
  color: var(--accent-text-color);
  margin-left: 40px;
}

.header__link {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}